#title h1 {
	text-align: center;
}

#clickhere h2 {
	text-align: center;
}

#button {
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
}

.twopictures {
	text-align: center;
	margin-top: 50px;
}

#plus {
margin-top: 150px;
}

